/.quarto/
.DS_Store
_site
*_files
README.html
data/Subset Wildfires by Expanded Bird Bounding Box.csv
data/TheTrailofFire_A20YearHistoryofWildfires.csv
data/wildfires_2013_07_14_to_2014_05_30.csv
data/wildfires_to_plot_unused.csv
